.row {
  display: flex;
  align-items: center;
}

.row > h3 {
  padding-right: 15px;
  border-right: 1px solid black;
}

.row > p {
  padding-left: 15px;
}

.value {
  margin: 0px;
  font-size: 1em;
  font-family: 'Courier New', Courier, monospace;
}