.row {
    display: flex;
    align-items: center;
}

.clue{
    padding: 0 25%;
}

.clue:not(:last-child){
    border-right: 1px solid black;
}

.clue p{
    margin: 0px;
    font-size: 1em;
    color: black;
}

.addedClue {
    animation-name: focusColor;
    animation-duration: 3s;
}

@keyframes focusColor {
    0%   {color: black;}
    100% {color: #428e69; text-decoration: underline;}
}